.navbar {
  padding: 0px 20px 0px 20px;
  position: fixed;
  top: 0;
}

@font-face {
  font-family: LogoFont;
  src: url(../fonts/GILB____.TTF);
}

.navbar-brand {
  font-family: LogoFont !important;
  font-weight: 600 !important;
  font-size: 2.5rem;
  padding-top: 0px;
}

.nav-link {
  font-weight: 600 !important;
}
