.navbar {
  padding: 0px 20px 0px 20px;
  position: fixed;
  top: 0;
}

.navbar-brand {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
  font-weight: 600 !important;
  font-size: 2.5rem;
  padding-top: 0px;
}

.nav-link {
  font-weight: 600 !important;
}

